quests/11_send_email_forms.json
{
  "name": "11_send_email_forms",
  "nodes": [
    {
      "parameters": {
        "path": "7ed68e4e-5670-403b-8b09-e7383e1ac98c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cb801bc4-81b6-4fa2-a168-eff927f3b610",
      "name": "Webhook",
      "webhookId": "7ed68e4e-5670-403b-8b09-e7383e1ac98c"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.contents }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        0
      ],
      "id": "9298fa53-ed9f-4afb-8b2f-2385af7ea018",
      "name": "Send a message",
      "webhookId": "44f1d64c-3138-4ee3-86f9-366a81cd4753",
      "credentials": {
        "gmailOAuth2": {
          "id": "klzRIZmxz3DEDg0Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "c2bc46a6-8215-4986-8c90-5a845a38c3e2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "14zW88xCeWJNbVPb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- 여기를 수정하세요 ---\n// 기준이 되는 이메일 주소를 입력합니다.\nconst targetEmail = \"jinh2kakao@gmail.com\";\n// --- 수정 끝 ---\n\n// Google Sheets 노드에서 모든 데이터를 가져옵니다.\nconst allData = items;\n\n// 기준 이메일(targetEmail)이 있는 배열의 인덱스(순번)를 찾습니다.\nconst targetIndex = allData.findIndex(item => item.json[\"option gmail\"] === targetEmail);\n\n// 결과를 담을 배열\nlet filteredEmails = [];\n\n// 만약 기준 이메일을 찾았다면 (targetIndex가 -1이 아니라면)\nif (targetIndex !== -1) {\n  \n  // 찾은 인덱스부터 4개(기준 이메일 + 다음 3개)의 데이터를 잘라냅니다.\n  // slice(시작인덱스, 끝인덱스) - 끝인덱스는 포함되지 않습니다.\n  // 예: targetIndex가 1이면, slice(1, 5) -> 1, 2, 3, 4번 인덱스 항목을 가져옴\n  const slicedData = allData.slice(targetIndex, targetIndex + 4);\n\n  // 잘라낸 데이터에서 이메일 주소('option gmail')만 추출합니다.\n  filteredEmails = slicedData.map(item => {\n    // 새 JSON 객체를 만들어 'email'이라는 속성에 값을 담습니다.\n    return {\n      json: {\n        email: item.json[\"option gmail\"]\n      }\n    };\n  });\n\n} else {\n  // 기준 이메일을 찾지 못한 경우, 빈 배열을 반환합니다.\n  // 또는 오류 처리를 할 수 있습니다.\n  // 예: return [{ json: { error: \"기준 이메일을 찾을 수 없습니다.\" } }];\n}\n\n// 최종적으로 필터링된 이메일 목록을 반환합니다.\n// 이 결과가 다음 노드로 전달됩니다.\nreturn filteredEmails;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "03cf2ea6-cc3e-4df1-8e14-0ded5fdc7b27",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "093ec4f5-d936-48ef-9f74-74b9279d068c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3e896839-bf6e-4fc2-ba10-ffbb831dad9d",
              "name": "subject",
              "value": "={{ $('Webhook').first().json.query.subject }}",
              "type": "string"
            },
            {
              "id": "a84d44fe-532b-4289-ac1a-a65cb167ea33",
              "name": "contents",
              "value": "={{ $('Webhook').first().json.query.contents }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "46e108f0-2fdd-4a68-a392-1406348113bb",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee0503bc-0bfd-4760-9c19-e1e99868e471",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "777b07ef47bd7c75e9e34b7e5095f486f52077aca2a4ed266a442d29f4412bed"
  },
  "id": "EybcZ7H1gOQ3W77O",
  "tags": []
}